<div class="row d-flex">
  <h1 class="col-sm-10" style="font-size: 3vw">{{playlistName}}</h1>
  <button type="button" style="height: 2vw; width: 4vw" class="btn btn-outline-light btn-sm cols-sm-10 align-self-center">
    <p style="font-size: 1vw">More</p>
  </button>
</div>

  <div id="pl1" class="carousel slide position-relative col-sm-12" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <div class="d-inline-flex marge">
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
       </div>
      </div>
      <div class="carousel-item ">
        <div class="d-inline-flex marge">
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-inline-flex marge">
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev size bg-dark "style="opacity: 1" href="#pl1" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next size bg-dark" style="opacity: 1" href="#pl1" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>




