
.conteneur
{
  display: inline-flex;
  flex-wrap: wrap;
  alignment: center;
  margin-left: 10.5%;
}
#carousel{
  position: center;
  width: border-box;
}

.large{
  width: border-box;
}

h1{
  color: white;
  margin: 50px;
}




