<div class="row d-flex justify-content-between ml-2 mr-5">
  <h1 style="font-size: 3vw">{{playlistName}}</h1>
  <button type="button" style="height: 2vw; width: 4vw" class="btn btn-outline-light btn-sm align-self-center d-flex justify-content-center">
    <p class="mb-5" style="font-size: 0.8vw">More</p>
  </button>
</div>

  <div id="pl1" class="carousel slide position-relative col-sm-12" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <div class="d-inline-flex marge">
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
         <app-box></app-box>
       </div>
      </div>
      <div class="carousel-item ">
        <div class="d-inline-flex marge">
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-inline-flex marge">
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
          <app-box></app-box>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev size ml-0 " style="opacity: 1" href="#pl1" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next size mr-0 " style="opacity: 1" href="#pl1" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>




