:host(.thumbnail) {
  display: flex;
  margin: 7vh 0;
  -webkit-box-shadow: 0px 0px 114px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 114px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 50px -24px rgba(0,0,0,0.75);
}

.caption {
  color: var(--text-color);
}

.bi:hover{
  color: var(--accent-color);
}

h5{
  font-size: 1em;
}

.minia{
  width: 15vh;
  height: 15vh;
}
