:host(.thumbnail) {
  display: flex;
  margin: 10vh 0;
  -webkit-box-shadow: 0px 0px 114px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 114px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 50px -24px rgba(0,0,0,0.75);
  border-radius: 50% 50% 50% 50%;
  border-radius: 50rem!important;
}

.caption {
  padding: 15px;
  color: var(--text-color);
}

.minia{
  width: 20vh;
  height: 20vh;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.4rem;
}

.button {
  position: absolute;
  bottom: 20px;
  left: 15px;
}
