<app-logscreen *ngIf="!switch" (authentify)="logUser()" (accountVal)="getAccountId($event)"></app-logscreen>

<ng-template *ngIf="logged; then run"></ng-template>
<ng-template #run>
  <app-search-bar (loading)="loading=$event" (results)="updateResults($event)" (error)="error=$event"></app-search-bar>
  <app-sidenav  [accountid] = "accountid" (setting)="openSettings($event)" (profil)="openProfil($event)" (path)="openPage($event)" (quit)="switch = logged =!$event"></app-sidenav>
  <app-profil [accountid] = "accountid"></app-profil>
  <app-settings [openSetting]="toggleSettings" [darkMode]="themedark" (close)="closeSettings($event)" (themeSwap)="changeTheme($event)"></app-settings>
  <app-profil [openProfil]="toggleProfil" (close)="closeProfil($event)"></app-profil>
  <div *ngIf="isNumber(path)">
    <app-playlist [playlistId]="path" [accountid] = "accountid" ng-change="displayPlaylist()"></app-playlist>
  </div>
  <div class="row">
    <div *ngIf="loadResults" class="results w-100 h-100 px-md-5 pl-sm-5 px-2 pr-sm-3">
      <h1 class="pt-sm-5 pl-sm-3 pt-2 font-weight-bold ml-sm-5">Results</h1>
        <app-youtube-search-result
            *ngFor="let r of results"
            [result]="r"
            [accountid] = "accountid"
            (played)="playSong($event)">
      </app-youtube-search-result>
    </div>
    <div *ngIf="error" class="results w-100 h-100 px-md-5 pl-sm-5 px-2 pr-sm-3">
      <h4 class="pt-sm-5 pl-sm-3 pt-2 font-weight-bold ml-sm-5">No more research available, come back tomorrow</h4>
    </div>
  </div>
  <app-player-bar></app-player-bar>
</ng-template>
