.logscreen{
  background-color: var(--bg-secondary);
}

.logging{
  background-color: var(--bg-primary);
}

input, input:focus{
  background-color: transparent;
  border: none;
  box-shadow: none;
  line-height: 2;
  outline: none;
  color: #B0B1B3;
  position: relative;
}

.form-group::after{
  content: '';
  position: absolute;
  left: 5%;
  height: 2px;
  background-color: grey;
  width: 90%;
  transition: 0.3s;
}

.form-group:hover::after{
  background-color: var(--accent-color);
}
