*{
  transition-duration: 0.2s;
}

.sidenav{
  position: absolute;
  z-index: 5;
  float: left;
  top: 0;
  left: 0;
  width: 70px;
  overflow: hidden;
  height: 100%;
  box-shadow: 24px 0px 52px -32px rgba(0,0,0,0.75);
  background-color: var(--bg-primary);
  color: var(--text-color);
}

.sidenav:hover{
  width: 200px;
}

.sidenav:hover .profil-pic{
  width: 20vh;
  height: 20vh;
}

.icon{
  position: absolute;
  width: 70px;
}

.active::before{
  content: "";
  display: inline-block;
  border-left: 5px solid var(--accent-color);
  border-radius: 0 60px 60px 0;
  height: 100%;
}


.nav-item{
  height: 10vh;
  bottom: 0;
  cursor: pointer;
}

.nav-item:hover{
  background-color: var(--hover);
}

.menuspan{
  margin-left: 70px;
}

.profil-pic{
  width: 6vh;
  height: 6vh;
  margin-bottom: 5vh;
  cursor: pointer;
  border: 1px solid var(--text-color);
}

.more{
  opacity: 0;
  color: var(--text-color);
}

.profil-pic:hover{
  background-color: var(--hover);;
}

.profil-pic:hover .more{
  opacity: 0.7;
}

.pasopti{
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary);
}

.dropdown{
  transform: translateY(-30vh);
  transition-duration: 0.6s;
}

.dropdown-container{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: var(--bg-secondary);
  box-shadow: inset 0px 0px 103px -61px rgba(0,0,0,0.75);
  top: 10vh;
}

.dropdown .dropdown-container{
  transition-duration: 0.6s;
  height: 31vh;
  display: block;
}

@media screen and (max-width: 576px){

  .sidenav{
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
  }

  .active::before{
    content: "";
    display: inline-block;
    border-left: none;
    border-radius: 0 0 0 0;
    border-bottom: 3px solid var(--accent-color);
    width: 100%;
  }

  .sidenav:hover{
    width: 100%;
  }

  .nav-item{
    height: 60px;
    bottom: 0;
    width: 16%;
    cursor: pointer;
  }

  .navbar-nav{
    margin-left: 16%;
    flex-direction: row;
  }

  .dropdown{
    transform: none;
  }

  .profil{
    position: absolute;
    height: 60px;
    width: 16%;
  }

  .profil-pic{
    width: 40px;
    height: 40px;
    margin-bottom: 0;
  }

  .sidenav:hover .profil-pic{
    width: 40px;
    height: 40px;
  }

}
