<div class="home pl-sm-5 py-sm-5 pt-5 w-100 h-100">
  <div class="ml-sm-5 margin">
    <app-playlist-line [id]="'rec'"
                       [playlistName]="'Récemment écoutées'"
                       [accountid]="accountid"></app-playlist-line>
    <app-playlist-line [id]="'fav'"
                       [playlistName]="'Favoris'"
                       [accountid]="accountid"></app-playlist-line>
    <app-playlist-line *ngFor="let pl of playlists"
                       [playlistName]="pl.playlistName"
                       [id]="pl.id"
                       [accountid]="accountid"></app-playlist-line>
  </div>
</div>
