*{
  transition-duration: 0.1s;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.settings{
  -webkit-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.50);
  background-color: rgb(44, 50, 56);
}

.settingsMenu{
  -webkit-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 70px -9px rgba(0,0,0,0.25);
}

.leaveBtn{
  z-index: 10;
}

.nav-item{
  height: 5rem;
  bottom: 0;
  cursor: pointer;
}

.nav-item:hover{
  background-color: rgb(34, 40, 46,0.3);
}
